@charset 'utf-8';

@import "~normalize.css/normalize.css";
@import "~@fontsource/roboto/index.css";
@import "~@fontsource/roboto/500.css";
@import "~@fontsource/roboto-mono/index.css";

$text-color: #222;

body {
    margin: 0;
    padding: 0;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: $text-color;
}

#container {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    font-family: "Roboto Mono", sans-serif;
}

header,
main,
nav,
footer {
    h1 {
        font-size: 1.2rem;
    }

    h2 {
        font-size: 1.2rem;
        margin: 0;
        padding: 1em 0;

        &.error {
            color: #ff0f0f;
        }
    }
}

main {
    p {
        span.language-indicator {
            color: #aaa;
            font-weight: bold;
        }
    }
}

nav ul {
    display: flex;
    flex-direction: column;

    margin: 0;
    padding: 0;

    li {
        list-style: none;
        margin: 0;
        padding: 0;

        a {
            display: block;
            margin: 0.25em -1em;
            padding: 0.75em 1em;

            color: #0085ca;
            text-decoration: none;

            transition-duration: 5s;

            &:hover {
                box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.1);
                transition-duration: 0.25s;
            }

            span {
                display: inline-block;
            }

            span.title {
                color: unset;
                font-size: 1.2rem;
                text-decoration: underline;
            }

            span.separator {
                display: none;
            }

            span.description {
                margin-left: 0.5em;
                color: $text-color;
                font-size: 0.9rem;
            }
        }
    }
}

footer {
    border-top: 0.1rem solid #ccc;
    font-size: 0.8em;
}
